.MissionCard {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  border-radius: 10px;
  margin: 10px;
  text-align: center;
  width: 200px;
}

.MissionCard p {
  padding: 10px;
}

.MissionCard p:nth-of-type( 1 ) {
  border-bottom: 1px solid white;
  font-weight: 600;
}
